/* Base styles */
:root {
  /* colors */
  --white: #fbfbfb;
  --black: #090909;
  --blue: #5F90FF;
  --yellow: #FFBF50;
  --red: #691E12;
  --green: #00A468;
  --orange: #FF5F00;
  --purple: #BB7CD2;


  /* Font sizes */
  --font-h1: 2.75rem;
  --font-h2: 1.75rem;
  --font-body: 1rem;
  --font-btn: 1.125rem;


  /* Spacing */
  --side-margin: 1rem;

  /* border sizes */
  --border: 1.5px solid var(--black);
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT-Walsheim-Regular"),
    url("../src/fonts/GT-Walsheim-Regular.woff2") format("woff2");
    font-weight: 100;
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT-Walsheim-Bold"),
    url("../src/fonts/GT-Walsheim-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT-Walsheim-Medium"),
    url("../src/fonts/GT-Walsheim-Medium.woff2") format("woff2");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GT Walsheim Regular', 'arial', sans-serif;
  font-weight: 100;
  line-height: 1.3125rem;
  color: var(--black);
}

/* title styles */
 h1{
  position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
 }

 h2{
  font-size: var(--font-h2);
  font-weight: 500;
 }

