/* reset css */
@import url(./reset.css);

/* Base styles */
:root {
  /* colors */
  --white: #fbfbfb;
  --black: #090909;
  --blue: #5F90FF;
  --yellow: #FFBF50;
  --red: #691E12;
  --green: #00A468;
  --orange: #FF5F00;
  --purple: #BB7CD2;


  /* Font sizes */
  --font-h1: 2.75rem;
  --font-h2: 1.75rem;
  --font-body: 1rem;
  --font-btn: 1.125rem;


  /* Spacing */ 
  --space-xxs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.25rem;
  --space-xl: 2.25rem;

  /* border sizes */
  --border: 1.7px solid var(--black);
  --border-thin: 1.2px solid var(--black);

  overscroll-behavior: none;
  
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT-Walsheim-Regular"),
    url("../src/fonts/GT-Walsheim-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT-Walsheim-Bold"),
    url("../src/fonts/GT-Walsheim-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT-Walsheim-Medium"),
    url("../src/fonts/GT-Walsheim-Medium.woff2") format("woff2");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
    height: auto;
}

a {
  color: var(--black);
}

body {
  font-family: 'GT Walsheim Regular', 'arial', sans-serif;
  font-weight: 400;
  line-height: 130%;
  color: var(--black);
  font-size: var(--font-body);
}

/* title styles */
 h1{
  color: var(--black);
  position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
 }

 h2{
  line-height: 118%;
  color: var(--black);
  font-size: var(--font-h1);
  font-weight: 500;
  max-width: 17rem;
  margin-bottom: var(--space-xl);
 }

