.top__bar {
    display: flex;
    flex-direction: row;
    padding: var(--space-s);
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: row;
    padding-left: var(--space-s);
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-xl);
    margin-bottom: var(--space-xl);
}

.info__container-detail {
    display: flex;
    flex-direction: column;

}

.info__container-detail {
    width: 10rem;
}

.info__container p:first-child {
    border-top: var(--border-thin);
}

.container__date,
.container__time,
.container__count,
.container__share {
    height: 2.5rem;
    padding: 0 var(--space-s) 0 var(--space-xs);
    align-items: center;
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: var(--border-thin);
    gap: .2rem;
}

.container__date svg,
.container__time svg,
.container__count svg,
.container__share img {
    max-width: var(--space-m);
}

.description {
    padding: var(--space-s) var(--space-xs) var(--space-s) var(--space-s);
    max-width: 17rem;
}

.location__detail {
    text-transform: capitalize;
    margin-top: var(--space-xxl);
    padding: 0 var(--space-s) var(--space-xxs) 0;
    text-align: right;
}

.collage {
    border-top: var(--border-thin);
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    border-bottom: var(--border-thin);
    overflow: hidden;
}

.collage__clock {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    place-items: center;
    padding: var(--space-xl);
    border-right: var(--border-thin);
}

.collage__location{
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

.collage__location--abby{
 grid-row: 1 / span 1;
 object-fit: cover;
 object-position: center;
 height: 50%;
}

.collage__made {
    grid-column: 2 / span 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: var(--white);
    background-size: contain;
    padding: var(--space-xs);
    height: 50%;
    align-self: end;
}

.collage__made--green{
    background-image: url(../src/assets/detail-abby-green.jpg);
}

.collage__made--grey {
    background-image: url(../src/assets/detail-abby-grey.jpg);
}

.made__logo {
    width: 6.5625rem;
    height: 2.25rem;
}

