.close {
    display: none;
}

.open {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    border: var(--border-thin);
    background-color: var(--white);
    z-index: 10;
}

.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(162, 162, 162, 0.461);
    backdrop-filter: blur(5px);
}

.popup__header {
    display: flex;
    min-height: 3rem;

    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: var(--border-thin);
}

.popup__warning {
    max-height: 1.875rem;
    max-width: 1.875rem;
    margin: var(--space-3xs) 0;
}

.popup__btn {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 var(--space-xs);
    border-left: var(--border-thin);
}

.btn__red {
    color: #F00;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
}

.btn__popup {
    padding: var(--space-xxs) var(--space-xs);
    width: 100%;
    text-wrap: nowrap;
}

.btn__popup:first-of-type {
    border-right: var(--border-thin);
}

.popup__btns_container {
    display: flex;
    border-top: var(--border-thin);
}

.popup__text {
    margin: 2rem var(--space-m);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-xs);
}

.btn__popup--single {
    padding: var(--space-s);
}

.popup__btns_container--single {
    display: grid;
    margin: var(--space-m) var(--space-xl);
    border: var(--border-thin);